---
layout: archive
permalink: /Blog-posts/
excerpt: "Worth reading"
title: "Blog posts"
author_profile: true
---

{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}

<h2><a id="Featured_Links_0"></a>Featured Links</h2>
<ol>
<li><a href="http://lassonde.yorku.ca/articles/lassonde-students-clean-young-space-entrepreneurs-competition">The Pierre L. Morrissette Institute for Entrepreneurship Silver Prize</a></li>
</ol>
<p><img src="/assets/images/sedsteam.jpg" alt="Here's a picture of our team"> width="304" height="228"<br>
<em>Here’s a picture of our team: Benjamin Ghatan, myself and Yuriy Davydov</em></p>
<ol start="2">
<li><a href="http://lassonde.yorku.ca/articles/student-club-featured-ieee-communications-magazine">CSDC@YorkU team featured in school post</a></li>
<li><a href="http://lassonde.yorku.ca/sites/default/files/IEEE-Communications-Mag-CSDCYorkU%20(2).pdf">Full Article Published in IEEE Communications Magazine</a></li>
<li><a href="http://lassonde.yorku.ca/articles/drones-take-over-lassonde-during-international-geomatics-conference">Volunteer Work for the UAV-g-2015 conference</a></li>
</ol>
<h4><a id="Tech_Interests_11"></a>Tech Interests</h4>
<p>Space exploration and development, software development, aviation, aerospace, defense, space systems, satellites, nanosatellites, CubeSats, global positioning systems (GPS), control systems, system design, telecommunications, 3D modeling and scanning, unmanned aerial vehicles, UAV, UAS, aerial video/photography, precision agriculture, telematics, geomatics, engineering, additive manufacturing and 3D printing, smart materials, digital image processing, mobile app and web development, and entrepreneurship.</p>
